DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=HappyServer\$1
DB_NAME=auditforge
AUDIT_EXPORT_DIR=./data/exports
ITOP_URL=
ITOP_USER=
ITOP_PASSWORD=
SYNC_ENCRYPTION_KEY=replace_with_32_byte_hex_or_base64
CONNECTION_TEST_ALLOWLIST=
CONNECTION_TEST_ALLOW_PRIVATE=false
CONNECTION_TEST_ALLOW_HTTP=false
